/* Intro font from http://www.fontfabric.com/intro-free-font/ */
@font-face {
    font-family: 'Intro';
    src:url('../fonts/Intro.ttf.woff') format('woff'),
        url('../fonts/Intro.ttf.svg#Intro') format('svg'),
        url('../fonts/Intro.ttf.eot'),
        url('../fonts/Intro.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.navy,.hover-navy:hover{
    color:#fff!important;
    background-color:#082644!important
}

.text-navy,.hover-text-navy:hover{
    color:#082644!important
}

h1,h2,h3,h4  {
    font-family: 'Intro', sans-serif;
}
h5,h6, body, .w3-navbar,button {
    font-family: 'Roboto', sans-serif;
}

ol {
    list-style-type: circle !important;
}

.card-height-115{
    min-height: 115px;
}

.columns {
  -webkit-columns: 4 150px;
  -moz-columns: 4 150px;
  columns: 4 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  
}

.columns3 {
  -webkit-columns: 3 150px;
  -moz-columns: 3 150px;
  columns: 3 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  
}

.columnHeader {  
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
}

.rzslider .rz-pointer {
    background-color: #cddc39 !important;
}

.rzslider .rz-ticks .rz-tick .rz-tick-value {
    top: -35px !important;
}

.rz-tick-legend {
    line-height: 20px !important;
}

.margin-top-60{
    margin-top: 60px;
}

.margin-top-20-btm-10{
    margin-top: 20px;
    margin-bottom: 10px;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 30px 0 -30px 20px;
}

.likes,
.dislikes {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.clear {
    clear:both;
}

#submit
{
	color: #764b8e;
	font-size: 1em;
	border-radius: 6px;
}

.searchResults{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 20px 20px 20px;
  width: 25%;
  margin-top: 10px;
  
}

.nav img
{
	float: left;
	height: 62px;
	margin-top: 6px;
	margin-left: 6px;

}

.navLogoContainer {
    width: 130px;
}
.navLogoContainer:hover {
    
    background-color: transparent !important; 
    border-bottom: none !important; 
}
.navLogo {
    float: left;
    height: 30px;
    margin-bottom: 6px;
    width: 100%;
    height: auto;
}

.headerImage {
    background: url(../IMG/cover_image.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/* Image by Esther Vargas from https://www.flickr.com/photos/esthervargasc/14209650919/ */


#form{
	text-align: center;
	background-color: white;
}

.sourceIn
{
	width: 100%;
	height: 50px;
	font-size: 30px;
	text-indent: 10px;
	
}
