body {
  font-family: Helvetica, sans-serif;
}

#popup {
  min-width: 10px;
  width: 400px;
  min-height: 10px;
  height: 200px;
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popupSubmit{
    margin-top: 70px;
        margin-bottom: 50px
}
